
.header{
    position:fixed;
    
    z-index: 1;
    /* background-image: url("headerbg.webp"); */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    align-items: center;
  
   

}
nav,a:hover{
    text-decoration: underline;

}
main{
    position: relative;
    
}
#one{
    background-image: url("img/foodbg.webp");
    background-repeat: no-repeat;
}
.feature{
    padding: 80px;
    /* height: 100vh; */
    background-size: cover;
    color: blanchedalmond;
    /* display: flex; */
    /* flex-direction: column; */
    /* height: 100%; */
    display: block;

}
div{
    padding: 20px;
}
.da{
    background-color: #f7f7f7;
    font-size: 30px;
    font-weight: bold;
  
    border-radius: 50%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(67, 48, 124);
    font-style: italic;
    text-decoration: wavy;

}

h1{
    color: #f7f7f7;
    text-shadow: 2px 2px #9981ce;
    font-style: italic;
    font-size: 10px;
    display: flex;
    align-items: flex-end;
    padding: 30px;

}
nav{
    font-size: 30px;
    
}
a{
    color: beige;
    padding: 20px;
}
.button{
background-color: #d2d5f4; 
border: 2px solid blue;
border-radius: 20px;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
text-transform: uppercase;
color: rgb(5, 5, 50);


}
a{
    text-decoration: none;
   
}
a:button{
    cursor: pointer;
}
section >a:hover{
    background-color: rgb(174, 174, 112);
    color:blue;

}
h2{
    color: rgb(141, 133, 231);
    font-size: 40px;
    text-decoration: wavy;
}
h3{
    color: red;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    color: aquamarine;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div{
    color: #935d06;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}
.here{
    color: rgb(62, 8, 136);
    font-size: 30px;
    font-style: italic;
    font-weight: bolder;
    text-decoration:solid;
  
}
#two{
    background-image: url("img/summer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
 
    background-size: cover;
    color: blanchedalmond;
   position: relative;
  


 
  
}


#three{
    background-image: url("img/foodbg.webp");
    background-repeat: no-repeat;
   
    background-size: cover;
    color: blanchedalmond;
  position: relative;
 
  

   
  
}
#four{
    background-image: url("img/dri.webp");
    background-repeat: no-repeat;
 
    background-size: cover;
    color: blanchedalmond;
    position: relative;
  
   
}

footer{
    background-image: url("img/OIP.jpg");
   
    padding: 20px;
    text-align: center;
}